*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.main_box{
    font-size: 30px;
    background-image: url('photo.jpg');
    height: 110vh;
    background-size: cover;
    margin-top: -40px;
    display: flex;
    flex-wrap: wrap;
    

}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position:absolute;
    left: 16px;
    line-height: 60px ;
}

.sidebar_menu .btn_two{
    color: grey;
    line-height: 60px;
    font-size: 35px;
    position: absolute;
    left: 270px;
    opacity: 0.1;
    cursor: pointer;

}

.sidebar_menu{
    position: fixed;
    /* left: -350px; */
    
    height: 100vh;
    width: 300px;
    background-color:rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.1);
}  

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255,255,255,0.1);
    color: white;
    

}

#bar{
    color: white;
    position: fixed;
    top:15px
}
.sidebar_menu .logo a{
    position:absolute;
    left: 60px;
    top:-5px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 500px;
}

.sidebar_menu .menu{
    color: white;
    text-decoration: none;
    position:absolute;
    width:100%;
    top:80px;
}

.sidebar_menu .menu a{
    text-decoration: none;
    color: white;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i, 
a{
    color: white;
    text-decoration: none;
    font-size: inherit;
}

.sidebar_menu .menu i{
    padding-right: 4px;
}

.social_media{
    position:absolute;
    top:600px;
    margin: 20px;
    font-size: larger;
    color: white;

}
.social_media  ul a{
    color: white;
    opacity: 0.5;
    /* padding-left: 5px; */
    padding-left: 20px;
}

.main_box .menu li:hover{
    box-shadow: 0 0 4px rgba(255,255,255,0.1);
    opacity: 1;
}

.btn_two :hover{
    font-size: 40px; 
    cursor: pointer;
}

.btn_one:hover{
    font-size: 30px;
    cursor: pointer;

}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
#check{
    opacity: 0;
}

#check:checked ~ .main_box{
    left: 0;
}

